@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #222222;
  }
}

.option {
  background-color: transparent !important;
  color: black;
}
